<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>Document</title>
</head>

<body>
  <div style="width: 500px; height: 500px;">
    <canvas id="myChart"></canvas>
  </div>
  <script type="module">
    import { CubejsApi } from '@cubejs-client/core';
    const ctx = document.getElementById("myChart");
    (async function () {
      var data = [
        { year: 2010, count: 10 },
        { year: 2011, count: 20 },
        { year: 2012, count: 15 },
        { year: 2013, count: 25 },
        { year: 2014, count: 22 },
        { year: 2015, count: 30 },
        { year: 2016, count: 28 },
      ];

      new Chart(ctx, {
        type: 'bar',
        options: {
          animation: false,
          plugins: {
            legend: {
              display: false
            },
            tooltip: {
              enabled: true
            }
          }
        },
        data: {
          labels: data.map(row => row.year),
          datasets: [
            {
              label: 'Acquistions by year',
              data: data.map(row => row.count)
            }
          ]
        }
      });
    })();
  </script>
</body>

</html>